{% extends 'customers/base.html' %}


{% block contact %}

<form action="" method="post">
    {% csrf_token %}
    name : <input type="text" name="name" id="">
    contact: <input type="text" name="contact" id="">
    <select name="ground" id="">
        {% for ground in grounds %}
            <option value="{{ground.name}}">{{ground.name}}</option>
        {% endfor %}
    </select>
    <select name="shift" id="">
        {% for shift in shifts %}
            <option value="{{shift.time}}">{{shift.time}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit" name="submit">
</form>

{{message}}


<section id="book">
        <div class="container ">
            <form class="form row justify-content-center align-items-center">
                <div class="form-row">
                    <div class="col-xs-2">

                        <div class="form-group col-md-12">
                            <label for="inputEmail4">Name</label>
                            <input type="text" class="form-control" id="" placeholder="Name">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="formGroupExampleInput2">Contact</label>
                            <input type="text" class="form-control" id="" placeholder="Contact">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-xs-2">

                        <div class="form-group col-md-12">

                            <label for="inputState">Ground</label>
                            <select id="inputState" class="form-control">
                                <option selected>Ground A</option>
                                <option>Ground B</option>
                                <option>7A Side</option>

                            </select>

                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputState">Shift</label>
                            <select id="inputState" class="form-control">
                                <option selected>7-8</option>
                                <option>8-9</option>
                                <option>9-10</option>
                                <option>10-11</option>
                                <option>11-12</option>
                                <option>12-1</option>
                                <option>1-2</option>
                                <option>2-3</option>
                                <option>3-4</option>
                                <option>4-5</option>
                                <option>5-7</option>
                                <option>Night Shift</option>

                            </select>

                        </div>
                    </div>


                </div>
                <div class="text-center ">
                    <button type="submit" class="btn btn-primary">Book Now</button>
                </div>
            </form>


    </section>


{% endblock contact %}