{% extends 'base.html' %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    name : <input type="text" name="name" id="">
    contact: <input type="text" name="contact" id="">
    <select name="ground" id="">
        {% for ground in grounds %}
            <option value="{{ground.name}}">{{ground.name}}</option>
        {% endfor %}
    </select>
    <select name="shift" id="">
        {% for shift in shifts %}
            <option value="{{shift.time}}">{{shift.time}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit" name="submit">
</form>

{{message}}


{% endblock content %}